<div class="container">
  <div class="row mt-4">
    <div class="col col-6">
      <h2 class="text-center">Animate image</h2>
      <form [formGroup]="uploadForm">
        <div class="input-group input-group-sm mb-3">
          <label class="input-group-text" for="inputGroupFile01">Upload</label>
          <input 
            type="file" 
            class="form-control" 
            id="inputGroupFile01"
            formControlName="pathToFile"
            (change)="onSelectFile($event)"
          >
        </div>
        <div class="input-group input-group-sm mb-3">
          <select 
            class="form-select"
            formControlName="animation"
          >
            <option selected>Choose animation...</option>
            <ng-container *ngFor="let animation of animations">
              <option value="{{ animation.direction }}">{{ animation.name }}</option>
            </ng-container>
          </select>
        </div>
      </form>
      <div class="card" *ngIf="!uploadForm.get('pathToFile')?.invalid">
        <p class="text-center">Double click to send</p>
        <img 
          [src]="localUrl" 
          class="card-img-top"
          [@slideInOut]="uploadForm.get('animation')?.value"
          (dblclick)="onDoubleClickImg($event)"
        >
      </div>
    </div>
    <div class="col col-6">
      <h2  class="text-center">Crop image</h2>
      <form 
        [formGroup]="cropForm"
      >
        <label for="customRange1" class="form-label">Height: {{cropForm.get('height')?.value}}</label>
        <input 
          type="range" 
          class="form-range"  
          min="0" 
          max="100"
          value="100" 
          formControlName="height"
          (change)="onChangeOption()"
          id="customRange1"
        >
        <label for="customRange2" class="form-label">Width: {{cropForm.get('width')?.value}}</label>
        <input 
          type="range" 
          class="form-range"  
          min="0" 
          max="100"
          value="100" 
          formControlName="width"
          (change)="onChangeOption()"
          id="customRange2"
        >
      </form>
      <canvas #canvas 
        (mousedown)="onMouseDownCanvas($event)"
        (mouseup)="onMouseUpCanvas()"
        (mousemove)="onMouseMoveCanvas($event)"
        (dblclick)="onDoubleClickCanvas()"
      ></canvas>
    </div>
  </div>
</div>



